[diff "pandoc"]
    textconv = pandoc --to=markdown
    prompt = false

[alias]
    lg = log \
        --graph \
        --branches \
        --date=format-local:'%A, %d %B %Y at %I:%M %p' \
        --format=format:'%C(bold green)%h%C(reset) %C(white)%s%C(reset) %C(blue)(%ad)%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    wdiff = diff --word-diff=color --unified=1
    amend = commit -a --amend --no-edit
	sl = smartlog

[user]
	name = tanwang
	email = tanwang@pinterest.com

[core]
    editor = vim

[push]
	default = current
[pull]
	default = current

[pager]
    branch = false

# required for spacedentist/spr
# https://github.com/spacedentist/spr/issues/191
[feature]
   manyFiles = false

